:root {
  --white-color: #ffffff;
  --accent-color: #00a4e5;
  --title-color: #48555b;
  --background-color: #00a4e5;
}
/* ------------reset--------------- */
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 940px;
  /* padding-left: 10px;
  padding-right: 10px; */
  margin: 0 auto;
}
.section {
  padding-top: 115px;
  padding-bottom: 115px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 321px;
  padding-bottom: 71px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-logo {
  display: flex;
}
.hero-img {
  justify-content: center;
}

.hero-list {
  margin-top: 0;
  margin-bottom: 0;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color);
  font-family: BebasNeueBold;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 5.70937px;
}
.hero-text {
  color: var(--white-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.hero-desc {
  margin-top: 238px;

  color: var(--white-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  letter-spacing: 3.7px;
}

/*------------ HEADER------------ */
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo:hover,
.header-logo:focus {
  background-color: hsl(251, 91%, 21%);
  color: #da1919;
}
.header-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
}
.header-item:hover,
.header-item:focus {
  background-color: hsl(251, 91%, 21%);
  color: #da1919;
}
.header-item {
  display: flex;

  align-items: center;
  margin-top: 25px;
  margin-bottom: 24px;
}
.header-item:nth-child(1) {
  margin-right: 48px;
}
.header-item:nth-child(2) {
  margin-right: 42px;
}
.header-item:nth-child(3) {
  margin-right: 39px;
}
.header-item:nth-child(4) {
  margin-right: 30px;
}
.header-link {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;

  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1.09091px;
}

/* -----------STORY------------- */

.story-section {
  padding-top: 65px;
}
.story-main-wrapper {
  display: flex;
}
.story-wrapper {
  align-items: flex-end;
}

.story-list {
  display: flex;
  list-style: none;
  margin-top: 96px;
  margin-bottom: 0px;
  margin-left: 67px;
}
.story-item {
  text-align: center;
}
.story-title {
  margin-top: 0px;
  margin-bottom: 0;

  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 2.30625px;
}
.story-text {
  margin-top: 83px;

  margin-right: 67px;
  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.1875px;
}
.story-subtext {
  margin-top: 30px;
  margin-right: 67px;

  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;

  letter-spacing: 0.1875px;
}
.card {
  width: 140px;
}
.card:not(:last-child) {
  margin-right: 20px;
}

/* ---------OURS ------------- */

.ours-section {
  padding-top: 110px;
  padding-bottom: 71px;
}
.ours-about {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
}
.ours-title {
  margin-top: 0;
  margin-bottom: 80px;

  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  letter-spacing: 2.30625px;
}
.ours-text {
  margin-left: 154px;
  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.72;

  letter-spacing: 0.2px;
}

/* service */

.service-text {
  margin-top: 13px;
  margin-bottom: 39px;
  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.72;

  letter-spacing: 0.2px;
}
.service-list {
  padding-left: 0;

  display: flex;
  list-style: none;
}
.service-item:not(:last-child) {
  margin-right: 30px;
}

.button {
  color: var(--white-color);
  margin-left: 31px;
  margin-bottom: 76px;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.5px;
}
.button:hover,
.button:focus {
  background-color: hsl(251, 91%, 21%);
  color: #da1919;
}
.service-subtitle {
  margin-top: 28px;
  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.426667px;
}
.service-img {
  margin-top: 38px;
}

/* ---------PROPOSAL---------- */
.proposal {
  margin-top: 115px;
  padding-top: 120px;
  padding-bottom: 231px;

  text-align: center;
  width: 1440px;

  background-color: #2f303a;

  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.proposal-title {
  color: var(--title-color);
  font-family: OpenSans;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;

  letter-spacing: 0.15px;
}
.button {
  min-width: 150px;
  padding: 11px 29px;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;

  display: inline-block;

  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.button-pro {
  margin-top: 35px;
}

/* -----------FORMA--------------- */
.forma {
  background-color: #171819;
  text-align: center;
}
.forma-title {
  padding-top: 35px;
  padding-bottom: 35px;
  color: var(--white-color);
  font-family: OpenSans;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  letter-spacing: 0.846154px;
}

/* ---------FOOTER----------------- */
.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.page-footer {
  background-color: #141a20;
  padding-top: 42px;
  padding-bottom: 40px;
}
.main-wrap-first {
  width: 250px;
}

.main-wrap-secomd {
  display: flex;
}

.footer-item:nth-child(1) {
  margin-top: 32px;
}

.page-footer-title {
  color: var(--white-color);
  font-family: OpenSans;
  margin-bottom: 19px;

  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 0.85px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer-list {
  margin-right: 35px;
}
.footer-subtext {
  margin-top: 15px;
  color: var(--white-color);
  font-family: OpenSans;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.72;

  letter-spacing: 0.85px;
}
.footer-link {
  color: var(--white-color);
  font-family: OpenSans;
  font-weight: 600;
  font-size: 11px;
  line-height: 2.27;
  text-decoration: none;

  letter-spacing: 0.846154px;
}
.footer-link:hover,
.footer-link:focus {
  background-color: hsl(251, 91%, 21%);
  color: #da1919;
}

.adress-item {
  margin-bottom: 10px;
}
.footer-adress-link {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45px;
  letter-spacing: 0.85px;
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  background-color: hsl(251, 91%, 21%);
  color: #da1919;
}
.wrap {
  padding-top: 22px;
  padding-bottom: 23px;
  background-color: #171819;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  text-align: center;
  /* display: flex;
  align-items: flex-end; */
  letter-spacing: 0.846154px;
}
.wrap-text {
  color: var(--white-color);
  text-align: center;
  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 0.85px;
}
